* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: #F2F2F2;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-brand {
    padding-left: 0px;
    text-transform: uppercase;
}

.row {
    margin: 0px;
    margin-top: 60px;
}

.nav {
    display: flex;
}

.page-content {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.navbar-toggle {
    margin: 0;
    width: 100%;
}

.navbar-custom {
    position: static;
    background-color: #fff;
    font-weight: 300;
    height: 90px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    box-shadow: 0 1px 15px rgba(150, 150, 150, 50);
    padding: 0 30px;
    font-size: 18px;
}

.navbar-collapse {
    padding: 0;
}

.navbar-custom a {
    color: #230C33;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.vertical-alignment-helper .modal-dialog {
    width: 50%;
    top: 90px;
}

.modal .vertical-alignment-helper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal .close-modal {
    text-align: right;
}

.close-modal-icon {
    cursor: pointer;
}

.close-modal-icon i {
    color: #230C33;
}

.modal .modal-dialog {
    margin: 0;
}

.modal .modal-content {
    border: 0;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
    border-radius: 7px;
}

.modal .modal-header {
    padding: 0px;
    border-bottom: 0px;
    margin: 30px 0;
}

.modal-content .modal-header h4 {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

.modal-content .modal-body {
    padding: 0px;
    text-align: left;
    font-size: 20px;
    font-weight: lighter;
    line-height: 180%;
}

.modal-body p {
    font-weight: lighter;
}

.modal-body section img {
    max-width: 100%;
    height: 100%;
    margin: 3% 0;
}

main {
    flex-basis: 90%;
    overflow-y: scroll;
}

main .cards-holder {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .card {
    height: 440px;
    background: white;
    border-radius: 7px;
    box-shadow: 2px 4px 6px rgba(150, 150, 150, 50);
    margin-bottom: 40px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 24%;
    margin-left: 4.66%;
    margin-right: 4.66%;
}

.card .image-link {
    height: 60%;
    margin-bottom: 20px;
}

.card .card-backgroundImage {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 10px;
    opacity: 0.5;
    cursor: pointer;
}

.card .card-backgroundImage:hover {
    opacity: 1;
}

.card .card-information {
    flex: 1 0 auto;
}

.card .card-introductoryTitle {
    text-transform: uppercase;
    font-weight: bold;
}

.card .card-neighborhoodName {
    text-transform: uppercase;
    color: grey;
    font-weight: lighter;
    font-size: 12px;
}

.card-icon .card-icon-holder {
    text-align: right;
}

.card-icon-holder i {
    color: #230C33;
    cursor: pointer;
}

.card-icon-holder i:hover {
    color: #DB5461;
}

.card .backgroundImageOverlayLayer {
    position: relative;
    height: 60%;
}

body footer {
    background: #fff;
    bottom: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #230C33;
    text-transform: uppercase;
    font-weight: bold;
}

footer a {
    color: #230C33;
}

.landing-page {
    height: 100%;
}

.landing-page .nav-row {
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.nav-row a {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-page .chicago-neighborhood-row {
    background-image: linear-gradient(-135deg, #00E7E3 0%, #552B8F 100%);
    border-bottom: 5px solid #fff;
}

.landing-page .urban-design-row {
    background-image: linear-gradient(-225deg, #00E7E3 0%, #552B8F 100%);
}

.page-details {
    height: 100%;
    background-image: linear-gradient(-134deg, #552B8F 0%, #00C9C3 100%);
    padding: 0 90px;
    display: flex;
    justify-content: space-between;
}

.page-details-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 6%;
    padding-top: 3%;
}

.page-title-header {
    padding-bottom: 2%;
    border-bottom: 8px solid #fff;
}

.page-title-header h2 {
    margin: 0;
    font-size: 88px;
    font-weight: bold;
    color: #fff;
}

.page-details-cards {
    padding-bottom: 6%;
    padding-top: 3%;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.row .col-md-6 {
    padding: 0;
    width: 46%;
    margin-left: 4%;
    margin-bottom: 4%;
}

.row .nav-card {
    height: 250px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-card p {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform;
    transition-property: transform
}

.hvr-grow:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.hvr-icon-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    padding-right: 2.2em;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.hvr-icon-wobble-horizontal:hover {
    -webkit-animation-name: hvr-icon-wobble-horizontal;
    animation-name: hvr-icon-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1
}

@media screen and (min-width: 320px) {
    .nav-row a {
        font-size: 60px;
    }
    main .card {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 768px) {
    .nav-row a {
        font-size: 80px;
    }
    main .cards-holder {
        width: 90%;
    }
    main .card {
        width: 46%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media screen and (min-width: 1024px) {
    main .cards-holder {
        width: 90%;
    }
    main .card {
        width: 28%;
        margin-left: 2.66%;
        margin-right: 2.66%;
    }
}

@media screen and (min-width: 1440px) {
    .nav-row a {
        font-size: 100px;
    }
    main .cards-holder {
        width: 75%;
    }
    main .card {
        width: 24%;
        margin-left: 4.66%;
        margin-right: 4.66%;
    }
}
