* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background: #F2F2F2;
    font-family: 'Source Sans Pro', sans-serif;
}

#welcomeModal .modal-dialog {
    width: 25%;
}

.modal {
    /*display: flex !important;*/
}

.hide-message {
    margin-top: 30px;
}

.hide-message span {
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-brand {
    padding-left: 0px;
    text-transform: uppercase;
    font-size: 13px;
}

.navbar-right {
    margin-right: 0;
}

.row {
    margin: 0px;
}

.nav {
    display: flex;
    display: -webkit-flex;
}

.page-content {
    display: flex;
    display: -webkit-flex;
    display: -webkit-flex;
    height: 100vh;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.navbar-toggle {
    margin: 0;
    width: 100%;
}

.navbar-custom {
    position: static;
    background-color: #fff;
    font-weight: 300;
    height: 60px;
    margin: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    box-shadow: 0 1px 15px rgba(150, 150, 150, 50);
    padding: 0 30px;
    font-size: 13px;
}

.navbar-collapse {
    padding: 0;
}

.navbar-custom a {
    color: #230C33;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.modal .vertical-align-center {
    top: 90px;
    margin: 0 auto;
}


.modal .vertical-alignment-helper {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal .close-modal {
    text-align: right;
}

.close-modal-icon {
    cursor: pointer;
}

.close-modal-icon i {
    color: #230C33;
}


.modal .modal-content {
    border: 0;
    padding: 30px 30px 60px 30px;
    border-radius: 10px;
}

.modal .modal-header {
    padding: 0px;
    border-bottom: 0px;
    margin: 5px 0;
    text-transform: uppercase;
}

.modal-content .modal-header h4 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.modal-content .modal-body {
    padding: 0px;
    text-align: left;
    font-size: 20px;
    font-weight: lighter;
    line-height: 180%;
}

.modal-body .block-paragraph .rich-text,
.modal-body p {
    font-family: 'Slabo 27px', serif;
    opacity: .9;
    color: #000;
    font-size: 18px;
    line-height: 1.5em;
}

/* .modal-body p {
     font-family: 'Slabo 27px', serif;
     opacity: 80%;
 }*/
.modal-body section img {
    max-width: 100%;
    height: 100%;
    margin: 3% 0;
}

.modal-body .block-heading {
    font-weight: bold;
    font-size: 20px;
}

.modal-body .block-image {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}

main {
    height: 90%;
    overflow-y: scroll;
}

main .cards-holder {
    width: 75%;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}

main .card {
    height: 400px;
    background: white;
    border-radius: 7px;
    box-shadow: 2px 4px 6px rgba(150, 150, 150, 50);
    margin-bottom: 40px;
    padding: 15px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    width: 24%;
    margin-left: 4.66%;
    margin-right: 4.66%;
}

.card .image-link {
    height: 60%;
    margin-bottom: 20px;
}

.card .card-backgroundImage {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 10px;
    opacity: 0.5;
    cursor: pointer;
}

.card .card-backgroundImage:hover {
    opacity: 1;
}

.card .card-information {
    flex: 1 0 auto;
}

.card .card-introductoryTitle {
    text-transform: uppercase;
    font-weight: bold;
}

.card .card-neighborhoodName {
    text-transform: uppercase;
    color: grey;
    font-weight: lighter;
    font-size: 12px;
}

.card-icon .card-icon-holder {
    text-align: right;
}

.card-icon-holder i {
    color: #230C33;
    cursor: pointer;
}

.card-icon-holder i:hover {
    color: #DB5461;
}

.card .backgroundImageOverlayLayer {
    position: relative;
    height: 60%;
}

body footer {
    background: #fff;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #230C33;
    text-transform: uppercase;
    font-weight: bold;
    font-weight: lighter;
}

footer p {
    margin-bottom: 0;
}

footer a {
    color: #230C33;
    font-weight: bold;
}

.landing-page {
    height: 100%;
}

.landing-page .nav-row {
    height: 50%;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.nav-row a {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}

.landing-page .chicago-neighborhood-row {
    background-image: linear-gradient(-135deg, #00E7E3 0%, #552B8F 100%);
    border-bottom: 5px solid #fff;
}

.landing-page .urban-design-row {
    background-image: linear-gradient(-225deg, #00E7E3 0%, #552B8F 100%);
}

.page-details {
    height: 100%;
    background-image: linear-gradient(-134deg, #552B8F 0%, #00C9C3 100%);
    padding: 0 40px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: scroll;
}

.page-details-title {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 6%;
    e padding-top: 3%;
}

.page-title-header {
    padding-bottom: 2%;
    border-bottom: 8px solid #fff;
}

.page-title-header h2 {
    margin: 0;
    font-size: 88px;
    font-weight: bold;
    color: #fff;
}

.page-details-cards {
    flex-direction: column;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    flex-basis: 40%;
}

.page-details-cards .cards-row {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
}

.row .nav-card {
    padding: 0;
    width: 180px;
    margin: 2%;
    height: 180px;
    background: #fff;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-card p {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform;
    transition-property: transform
}

.hvr-grow:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.hvr-icon-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    padding-right: 2.2em;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.hvr-icon-wobble-horizontal:hover {
    -webkit-animation-name: hvr-icon-wobble-horizontal;
    animation-name: hvr-icon-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1
}

.dropdown-menu li {
    margin: 10px 0;
    font-size: 14px;
}

@media screen and (min-width: 320px) {
    #welcomeModal .modal-dialog {
        width: 90%;
    }
    #welcomeModal .modal-content {
        padding: 10px;
        padding-bottom: 20px;
    }
    #welcomeModal .modal-content .modal-body {
        font-size: 14px;
    }
    #welcomeModal .fa-3x {
        font-size: 2em;
    }
    .page-details {
        display: block;
        padding: 20px;
    }
    .page-details-cards .cards-row {
        display: block;
    }
    .dropdown-menu-toggle {
        display: block;
    }
    .dropdown-menu {
        left: initial;
        right: 0;
    }
    .navbar-custom {
        padding: 0 10px;
    }
    .nav-row a {
        font-size: 40px;
    }
    .row .nav-card {
        margin: 12% auto;
    }
    main .card {
        width: 100%;
        margin-top: 8%;
        margin-left: 0;
        margin-right: 0;
    }
    .page-details-title {
        margin-top: 6%;
        display: block;
    }
    .page-title-header h2 {
        font-size: 42px;
    }
    .vertical-alignment-helper .modal-dialog {
        width: 90%;
    }
    .navbar-collapse {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #welcomeModal .modal-dialog {
        width: 70%;
    }
    #welcomeModal .fa-3x {
        font-size: 3em;
    }
    #welcomeModal .modal-content .modal-body {
        font-size: 18px;
    }
    #welcomeModal .modal-content {
        padding: 20px;
        padding-bottom: 30px;
    }
    .page-details {
        padding: 0 40px;
    }
    .dropdown-menu-toggle {
        display: none;
    }
    .navbar-collapse {
        display: block;
    }
    .nav-row a {
        font-size: 50px;
    }
    .row .nav-card {
        margin-bottom: 10%;
    }
    .final-project .nav-card {
        width: 180px;
    }
    main .cards-holder {
        width: 90%;
    }
    main .card {
        width: 46%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 4%;
    }
    .page-details-cards .cards-row {
        display: inline-block;
        margin-right: 6%;
    }
    .page-details-title {
        margin-top: 0;
    }
    .page-title-header h2 {
        font-size: 52px;
    }
}

@media screen and (min-width: 1024px) {
    #welcomeModal .modal-dialog {
        width: 50%;
    }
    main .cards-holder {
        width: 90%;
    }
    main .card {
        width: 28%;
        margin: 2% 2.66%;
    }
    .nav-row a {
        font-size: 60px;
    }
    .final-project .nav-card {
        width: 380px;
        margin-left: 0;
        margin-right: 0;
    }
    .row .nav-card {
        margin: 10px;
    }
    .page-details {
        display: flex;
        display: -webkit-flex;
    }
    .page-details-cards .cards-row {
        display: flex;
        display: -webkit-flex;
        margin: 0;
    }
    .page-details {
        flex-direction: row;
    }
    .page-details-title {
        display: flex;
        display: -webkit-flex;
    }
    .page-title-header h2 {
        font-size: 62px;
    }
    .vertical-alignment-helper .modal-dialog {
        width: 50%;
    }
}

@media screen and (min-width: 1440px) {
    #welcomeModal .modal-dialog {
        width: 30%;
    }
    .nav-row a {
        font-size: 80px;
    }
    main .cards-holder {
        width: 75%;
    }
    main .card {
        width: 27.33%;
        margin: 3%;
    }
    .page-details {
        padding: 0 30px;
    }
}

.mapContainer {
    height: 400px;
    margin-bottom: 20px;
    border: 1px #ccc solid;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
    font-size: 12px;
    line-height: 1;
}
