<!-- map container -->
<div id="map9999" class="mapContainer"></div>

<!-- JS that creates our generic map -->
<script type="text/javascript">
    app.drawnNeighborhood = '{{ value.drawnNeighborhood }}'.replace(/&quot;/g,'"');
    app.mapId = 'map_' + app.mapCount;
    console.log(app.mapId);
    $('#map9999').attr('id', app.mapId);
    // initilize map
    app.createMap(app.mapId, app.drawnNeighborhood);
    // invalidate minimap sizes to force redraw
    setTimeout(function(){ app.invalidateMinimaps() }, 400);
    
    // increment for the next map
    app.mapCount++;  		
</script>



