{% extends 'neighborhoods/base.html' %} {% load staticfiles %} {% load wagtailcore_tags %} {% load wagtailimages_tags %} {% block title %}{{ page.title }}{% endblock %} {% block css_block %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'neighborhoods/css/main.css' %}"> {% endblock %} {% block head_js_block %}
<script type="text/javascript" src="{% static 'neighborhoods/js/app.js' %}"></script>
{% endblock %} {% block body_block %}
<!-- Navigation -->
<div class="cards-holder">
    <div class="row">
        {% for page in self.get_children.specific.live %}
        <div class="col-md-4 card col-sm-6">
            {% image page.introductory_image height-500 as background_image %} {% if background_image.url %}
            <a href="{{page.url}}" class="image-link">
                <div class="card-backgroundImage" id='{{page.id}}'></div>
            </a>
            <div class="card-backgroundImageOverlayLayer" id='card-backgroundImageOverlayLayer'></div>
            <script type="text/javascript">
            $('#{{page.id}}').css('background-image', 'url({{background_image.url}})')
            </script>
            {% endif %}
            <div class="card-information">
                <p class="card-introductoryTitle">{{page.title}}</p>
                {% if page.neighborhood_name %}
                <p class="card-neighborhoodName">{{page.neighborhood_name}}</p>
                {% endif %}
                <p class="card-introductory-text">{{page.introductory_text|truncatechars:60}}</p>
            </div>
            <div class="card-icon">
                <div class="card-icon-holder">
                    <a href="{{page.url}}">
                        <i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block modal_block %} 
<div class="modal fade welcome-modal" id="welcomeModal" tabindex="-1" role='dialog' aria-labelledby='welcomeModalLabel'>
    <div class="modal-dialog" role='document'>
        <div class="modal-content">
            <div class="close-modal">
                <div class="close-modal-icon" id="close-modal-button">
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true" data-dismiss='modal' id="closeWelomeModal"></i>
                </div>
            </div>
            <div class="modal-header">
                <h4 class="welcomeModal-title">WELCOME TO HOODMAPPING.ORG</h4>
            </div>
            <div class="modal-body">
                <p>Students at the University of Chicago are creating websites analyzing the urbanism of Chicago. One class is focusing on neighborhoods, the other is focusing on the theory and practice of urban design.</p>
            </div>
            <div class="hide-message">
                <input type="checkbox" name="hideMessage">
                <span>Don't show this message again</span>
            </div>
        </div>
    </div>
</div>
{% endblock %} 

{% block js_block %}
<script type="text/javascript">
window.onload = function() {
    // $('#welcomeModal').modal('show');
    app.init();
};
</script>
{% endblock %}
