{% extends 'neighborhoods/base.html' %} {% load staticfiles %} {% load wagtailcore_tags %} {% load wagtailimages_tags %} {% block title %}{{ page.title }}{% endblock %} {% block css_block %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'neighborhoods/css/main.css' %}"> {% endblock %} {% block head_js_block %}
<script type="text/javascript" src="{% static 'neighborhoods/js/app.js' %}"></script>
{% endblock %} {% block body_block %}
<!-- Navigation -->
<nav class="navbar-custom navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/">
            <i class="fa fa-building" aria-hidden="true"></i><span class="light">Hood Mapping</span>
        </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li>
                <a href="/chicago-neighborhoods/">Chicago Neighborhoods</a>
            </li>
            <li>
                <a href="/urban-design-chicago/">Urban Design: The Chicago Experience</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
    <!-- /.container -->
</nav>
<div class="modal fade" id="welcomeModal" tabindex="-1" role='dialog' aria-labelledby='welcomeModalLabel'>
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center" role='document'>
            <div class="modal-content">
                <div class="close-modal">
                    <div class="close-modal-icon">
                        <i class="fa fa-times-circle fa-3x" aria-hidden="true" data-dismiss='modal'></i>
                    </div>
                </div>
                <div class="modal-header">
                    <h4>WELCOME TO HOODMAPPING.ORG</h4>
                </div>
                <div class="modal-body">
                    <p>Neighborhoods are unnecessarily vague. This project seeks to “ground” them by locating, mapping and then naming them — wherever they might exist. It builds on the excellent work being done in the area of crowd-sourced neighborhood mapping, focusing especially on making them “real” by proposing names, boundaries, centers, and a means of engagement.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<main>
    <div class="center-vertically">
        <div class="cards-holder">
            <div class="row">
                <div class="col-md-3 col-md-offset-1 card">
                </div>
                <div class="col-md-3 col-md-offset-1 card">
                </div>
                <div class="col-md-3 col-md-offset-1 card">
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer -->
<footer>
    <div class="content-section grey text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <p><a href="/">Hood Mapping</a> is a project of <a href="http://urbanism.uchicago.edu/">Urbanism at the University of Chicago</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %} {% block modal_block %} {% endblock %} {% block js_block %}
<script type="text/javascript">
window.onload = function() {
    var background_image = '{{ background_image.url }}';
    $('.intro').css('opacity', '1');
    app.init();
    // $(document).ready(function() {
    //     console.log('here');
    //     $('#welcomeModal').modal('show');
    // });

};
</script>
{% endblock %}
