{% extends 'neighborhoods/base.html' %} {% load staticfiles %} {% load wagtailcore_tags %} {% load wagtailimages_tags %} {% block title %}{{ page.title }}{% endblock %} {% block css_block %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'neighborhoods/css/main.css' %}"> {% endblock %} {% block head_js_block %}
<script type="text/javascript" src="{% static 'neighborhoods/js/app.js' %}"></script>
{% endblock %} {% block body_block %}
<!-- Navigation -->
<div class="cards-holder">
    <div class="row">
        {% for page in self.get_children.specific.live %}
        <div class="col-md-4 card col-sm-6">
            {% image page.introductory_image original as background_image %} {% if background_image.url %}
            <a href="{{page.url}}" class="image-link">
                <div class="card-backgroundImage" id='{{page.id}}'></div>
            </a>
            <div class="card-backgroundImageOverlayLayer" id='card-backgroundImageOverlayLayer'></div>
            <script type="text/javascript">
            $('#{{page.id}}').css('background-image', 'url({{background_image.url}})')
            </script>
            {% endif %}
            <div class="card-information">
                <p class="card-introductoryTitle">{{page.title}}</p>
                {% if page.neighborhood_name %}
                <p class="card-neighborhoodName">{{page.neighborhood_name}}</p>
                {% endif %}
                <p class="card-introductory-text">{{page.introductory_text|truncatechars:60}}</p>
            </div>
            <div class="card-icon">
                <div class="card-icon-holder">
                    <a href="{{page.url}}">
                        <i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} {% block modal_block %} {% endblock %} {% block js_block %}
<script type="text/javascript">
window.onload = function() {
    // $('#welcomeModal').modal('show');
    app.init();
};
</script>
{% endblock %}
