{% extends 'neighborhoods/base.html' %}
{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block css_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'neighborhoods/css/main.css' %}">
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block body_block %}

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">{{ page.title }}</h1>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2>{{ page.neighborhood }}</h2>
            {{ page.main_content }}
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <em>Updated: {{ page.date }}</em>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

      </div>



      </div><!-- /.row -->

    </div><!-- /.container -->


{% endblock %}


{% block modal_block %}
{% endblock %}

{% block js_block %}
{% endblock %}


	
	

