{% extends 'neighborhoods/base.html' %}
{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'neighborhoods/vendor/css/control.layers.minimap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'neighborhoods/css/main.css' %}">    
{% endblock %}

{% block head_js_block %}
<script type="text/javascript" src="{% static 'neighborhoods/vendor/js/L.Control.Layers.Minimap.js' %}"></script>
<script type="text/javascript" src="{% static 'neighborhoods/js/app.js' %}"></script>
{% endblock %}
	

{% block body_block %}

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <i class="fa fa-building" aria-hidden="true"></i><span class="light">Hood Mapping</span> {{ page.title }}
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#city_beautiful">City Beautiful</a>
                </li>
                <li>
                    <a class="page-scroll" href="#transects">Transects</a>
                </li>
                <li>
                    <a class="page-scroll" href="#diversity">Diversity</a>
                </li>
                <li>
                    <a class="page-scroll" href="#civic_art">Civic Art</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
  
  <!-- Intro Header -->
  <header class="intro">
      <div class="intro-body">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                      <h1 class="brand-heading">{{ page.title }}<br /></h1>
                      <div class="clearfix"></div>
                      <p class="intro-text"><br />{{ page.introductory_text }}</p>
                      <div class="clearfix"></div>                       
                      <a href="#city_beautiful" class="btn btn-circle page-scroll">
                          <i class="fa fa-angle-double-down animated"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <!-- Content Section -->
  <section id="city_beautiful" class="content-section grey">
    <div class="container">
      <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h1 class="text-center">City Beautiful</h1>
            {% include_block page.city_beautiful %}
          </div>
      </div>
    </div>
  </section>

  <section id="transects" class="container content-section">
      <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h1 class="text-center">Transects</h1>
            {% include_block page.transects %}
          </div>
      </div>
  </section>

  <section id="diversity" class="content-section grey">
    <div class="container">
      <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h1 class="text-center">Diversity</h1>
            {% include_block page.diversity %}
          </div>
      </div>
    </div>
  </section>

  <section id="civic_art" class="container content-section">
      <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h1 class="text-center">Civic Art</h1>
            {% include_block page.civic_art %}
          </div>
      </div>
  </section>

  <!-- Footer -->
  <footer>
      <div class="content-section text-center grey">
        <div class="container">
          <div class="row">
            <p><a href="/">Hood Mapping</a> is a project of <a href="http://urbanism.uchicago.edu/">Urbanism at the University of Chicago</a></p>
          </div>
        </div>
      </div>
  </footer>


{% endblock %}


{% block modal_block %}
{% endblock %}

{% block js_block %}
<script type="text/javascript">
{% image page.introductory_image original as background_image %}
{% if background_image.url %}
window.onload = function() {
  var background_image = '{{ background_image.url }}';
  $('.intro').css('background-image', 'url(' + background_image + ')');
  $('.intro').css('opacity', '1');
  app.init();
};
{% else %}
window.onload = function() {
  var background_image = '{{ background_image.url }}';
  $('.intro').css('opacity', '1');
  app.init();
};
{% endif %}
</script>
{% endblock %}


